.weather-widget{
  padding: 15px;
  width: 100vw;
  font-size: 1.7rem;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  color: #fff;

  columns: 3 270px;
  column-gap: 30px;
  column-rule: 1px solid rgba(255, 255, 255, .2);

  &__section{
    break-inside: avoid;
    text-align: center;
    padding: 1.2rem 0;
    position: relative;
  }

  &__city{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 1.5rem 0 0;
  }

  &__text{
    padding: 1.5rem 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;

    &--details{
      padding-top: 1.8rem;
      font-size: 1.8rem;
      font-weight: 300;

       &::first-letter{
        text-transform: uppercase;
       }
    }
  }

  &__temperature{
    padding: 1.8rem;
    font-size: 4.5rem;
    line-height: 4rem;
    font-weight: 300;
  }

  &__pressure,
  &__humidity,
  &__wind{

    padding: .8rem 0;

    .wi{
      display: inline-block;
      width: 40px;
      padding-right: 20px;
    }
  }

  &.animation-enter {
      opacity: 0.00;
      transform: scale(0.7);
      transition: all 0.5s;
  }

  &.animation-enter.animation-enter-active {
      opacity: 1;
      transform: scale(1);
  }

  &.animation-leave {
      opacity: 1;
      transform: scale(1);
      transition: all 0.5s;
  }

  &.animation-leave.animation-leave-active {
      opacity: 0.00;
      transform: scale(0.7);
  }
}

