.weather-icon{
  font-size: 11rem;
  line-height: 12rem;
  padding-bottom: 10px;
  animation: flip 1s ease-out 1;
  //transform-style: preserve-3d;
}

@keyframes flip {
    from {
        transform: rotateY(0deg);
    }
    to
    {
        transform: rotateY(-360deg);
    }
}
