@import 'partials/reset';
@import 'partials/colors';
@import 'partials/fonts';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 16px;

  @media only screen and (max-width: 768px) {
    font-size: 12px;
  }
}

body{
  background: $color-sky;
}

.text-left{
  text-align: left;
}
